<div class="main__header">
    <div class="container">
        <div class="header">
            <div class="header__left">
                <a routerLink="" class="header__left__logo">LOGO</a>
                <a routerLink="/recipe" class="header__left__nav">Recipe</a>
                <a routerLink="/auth" class="header__left__nav">Authtenticate</a>
                <a routerLink="/shopping-list" class="header__left__nav">Shopping List</a>
            </div>
            <div class="header__right">
                <a class="header__left__nav">Login</a>
                <a (click)="saveRecipeToData()" class="header__left__nav">Save</a>
                <a (click)="fetchRecipe()" class="header__left__nav">Fetch</a>
            </div>
        </div>
    </div>
</div>