<div class="selected__recipes">
    <img [src]="selectedRecipe.img" alt="" class="img__box">
    <h1>{{selectedRecipe.name}}</h1>
    <div (click)="dropdown()" class="dropdown__content">
        Manage Recipe
    </div>
    <div *ngIf="istrue" class="dropdown__link">
        <p>to shopping list</p>
        <p (click)="editRecipes()">edit</p>
        <p (click)="deleteRecipes()">delete</p>
    </div>
    <div class="desc">
        {{selectedRecipe.description}}
    </div>
    <!-- <div *ngFor="let item of selectedRecipe.ingredients">
        <div *ngFor="let item2 of item | keyvalue">
           <span class="ingred1">{{ item2.key }} ({{item2.value}})</span>
        </div>
    </div> -->
    <div *ngFor="let item of selectedRecipe.ingredients; let i = index">
        <!-- <div *ngFor="let item2 of item | keyvalue"> -->
           <span class="ingred1">{{ item.ingred_name }} </span>
           <span>({{ item.ingred__number }})</span>
        <!-- </div> -->
    </div>
</div>
