<div class="container">
    <div class="auth-box">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <input type="text" placeholder="E-mail" name="email" ngModel>
            <input type="password" name="password" id="password" placeholder="Password" ngModel>
            <div class="buttonBox">
                <button type="submit">{{islogin ? " Login " : " Sign Up "}}</button> |
                <button (click)="authentic()" type="button">Switch to {{ islogin ? "Sign Up" : "Sign In" }}</button>
            </div>
        </form>
    </div>
</div>